{
    "CLAPS"                      : 2,
    "TIMEOUT"                    : 800,
    "AUDIO_SOURCE"               : "coreaudio default",
    "DETECTION_PERCENTAGE_START" : "5%",
    "DETECTION_PERCENTAGE_END"   : "5%",
    "CLAP_AMPLITUDE_THRESHOLD"   : 0.22,
    "CLAP_ENERGY_THRESHOLD"      : 1.0,
    "MAX_HISTORY_LENGTH"         : 10
}
